@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@plugin "daisyui";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --container-sm1: 23rem;
}

:root {
  --background: #f4f4f4;
  --foreground: black;
  font-family: "Kanit";
}




body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Kanit";
}



/* Header Bar */
.HamburgerNav {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
  
}

.HamburgerNav:before,
.HamburgerNav:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.HamburgerNav:before {
  top: 5px;
}

.HamburgerNav:after {
  top: -5px;
}



 .MenuBtn {
  display: none;
}

 .MenuBtn:checked~.menu {
  max-height: 300px;
}

 .MenuBtn:checked~.menu-icon .HamburgerNav {
  background: transparent;
}

 .MenuBtn:checked~.menu-icon .HamburgerNav:before {
  transform: rotate(-45deg);
}

 .MenuBtn:checked~.menu-icon .HamburgerNav:after {
  transform: rotate(45deg);
}

 .MenuBtn:checked~.menu-icon:not(.steps) .HamburgerNav:before,
 .MenuBtn:checked~.menu-icon:not(.steps) .HamburgerNav:after {
  top: 0;
}